<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="oauthAuthority" value="http://localhost:8081" />
    <add key="oauthClientId" value="Zw5LgWoeK0a-Ylr1BYMdfg" />
    
    <!-- TODO: Load this from the certificate store -->
    <add key="oauthKey" value="-----BEGIN RSA PRIVATE KEY-----
MIIEowIBAAKCAQEAjXAi0gEC/5ON64VFs8gGQjPrfDOx3G2D+RLcclq7L1IJdS/G
MmbnFg5JbbzfyvHhMLVW05XO7cU4XyZn82EkL5BotlaiWW4Ql8KDM1O7q9YvkFWT
sWCBdf+U+/SJ80nMpcfeTW+3KPch42N9MK0ZwEZ2gvWDT/Ocs60FOLpwlc8gfdAX
EaIlCf8+3S6M5oMVm6BGbR43kSx/pw8l/TKGnczzuGlhyI7s9GZHKE5/gSIczJSE
WU7AASHuItO1WJQfR7J5I67rwlwbEvTuQIBSXsoO+qR/QOoiW8ZVk3+Yp8wfzk4G
t6mRKyWIGXJDRtCsCoRrdC33GV/Nf05aY7JaVQIDAQABAoIBAHADBLCH+JXrh5Ok
YkU0/i/j6nTcg9lsKf5Rv6AY1vFs6OyTv0UfVZeUDPcJg7q3wH3Qv0il9dE8RZ6l
TeHjZsL8fNEa30wv7JgjhcBaaeB2qgiGnYb2RNDsblLzoWS5Z4dLOHTfKpEY1w+8
NOMd060AoM6qHSpuZgWt2trIXG1nA9xawB0pVAGNrMbT/yOfAJ2Q39PYrz8p1fzd
XE1GGo6jFwRMxH+WVq4Ttv5f8yqOlb9ulULEfcd/YrgM6e76pvLpbp2YCg8czA0P
5N40reCujtjlCpJrLSD3M5INK5oEdVVflWP3b85YJS6X6QyltnwHX05b359sIk/c
+41RqYECgYEAy8KQeWeGkwvCd9jsspkL+ywddPAsKYs1lpURMnz94xWY6JAvHdtN
JbVoElZB55e4cR1Ud0kgseGEgN7OdTNLsOWh0WQwpvpO/B7eLfHSwLDUw8o70fne
me98ufrdZREw9wlTFSs4rMPqVJcIY/Q9BnfKb5z3Vgush3nhyqr6H9ECgYEAsbMt
FmtUyjfCo+9jtW4Y3TteVOSNa0uTHO0AnmeFo5jyDNZP02NVdQf+vl08cI8NjVmz
lWCgzJeQg0bX+LIg/gaY5kuZVtkVXLKWVRE0AWGVStYvvXzq7BsFJ1gJHLxWpFYJ
a9WN7N5HfDL3pnWc0L4XtkQVs2A10KP+U2WsF0UCgYEAwQ4xcLXD7eLAeGkRqw4T
KgHcTwWX8iyxs2C9kIaYzuWRoRerbLBx4f6FAoqzmshHuvS9KOAimCdCMg/osWbO
mmaX8RrqderHl11vyTxMIMHqdS9Rilsiq9sa4+NqjO3C5OzyySXQZvChP1ByZLHu
eAhbx3CDcAVTjHDQnANvRWECgYAcEO+rHdKribkNSW8XJcd5kbnpcJvBeZNHu0sg
ubsKxspcKrE68vJ5ZITgrjswj/eU/rj1e+iJx9qEUXklB4VcedBGd2RFqk3McUx7
LRdorG/2/PNXW1aDahUbTLVLu5d3pzsftAARjF4ACNDCksrs0UlPeVtwFF8LkAtI
QsO2fQKBgGL7e9FfEFv6AHBdF15yKgaULUwzZiKp62CfeO2BAsU1jPD7K4HvhR57
At9HYewuYBTlZNWIU/B93x66LWafOCMB/FxV6T7P7CIujE9S+ohVHj8oBBWSeXLr
ZQ2nXKY0+hprFc8Mbieh9bl8Z58WYkeqEoKKCAYuJmq40WTPMWeu
-----END RSA PRIVATE KEY-----"/>

    <add key="forwardToUri" value="http://localhost:8090"/>
    <add key="acceptablePaths" value="/ldm/activityupdate,/ldm/wifiupdate"/>
    <add key="acceptableMethods" value="POST"/>
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <system.net>
    <!-- By default, the current user's Internet Explorer (IE) proxy settings will be used.
         Uncomment the section below to override. -->

    <!-- https://technet.microsoft.com/en-us/library/kd3cf2ex(v=vs.110).aspx -->
    <!--<defaultProxy>
      <proxy 
        autoDetect="Unspecified" 
        bypassonlocal="Unspecified" 
        proxyaddress="" 
        scriptLocation="" 
        usesystemdefault="Unspecified"
        />
    </defaultProxy>-->
  </system.net>
</configuration>